.notification {
  color: rgb(0, 128, 0);
  background: rgb(211, 211, 211);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(255, 0, 0);
  background: rgb(211, 211, 211);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

#remove-btn {
  background-color: rgb(31, 102, 229);
  color: rgb(245, 245, 245);
  border-radius: 5px;
  border-style: none;
}